// variables

// background

$background-white: #ffffff;
$background-white-primary: #ffffff33;
$background-white-secondary: #ffffff26;
$background-light-grey-primary: #fafafa;
$background-light-grey-secondary: #fbf9f9;
$background-light-grey-tertiary: #f9f9f9;
$background-grey-primary: #e1e1e1;
$background-grey-secondary: #1e1e1e4d;
$background-grey-tertiary: #00000026;
$background-orange: #ff4612;
$background-lighter-red: #ef2853;
$background-light-red: #ee2852;
$background-black-primary: #1e1e1e;
$background-black-secondary: #1e1c1c;
$background-black-tertiary: #191516;
$background-black-quaternary: #181515;

//

// ## Reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// global

// .icon::before {
//   display: inline-block;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
// }

// fonts

// font-family: 'Raleway', sans-serif;
// font-family: 'Libre Baskerville', serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

* {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

// button

.button {
  cursor: pointer;
}

.prev {
  transform: rotate(180deg);
}

.btn-white,
.btn-orange {
  height: auto;
  font-size: 0.6rem;
  margin: 0.25rem 1rem 0.25rem 0;
  cursor: pointer;
  display: flex;
  width: 7rem;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  .text {
    text-align: center;
    flex-grow: 1;
  }
  .vertical-line {
    background-color: currentColor;
    width: 2px;
    height: 80%;
  }
  svg {
    scale: 0.6;
    fill: currentColor;
  }
}

.btn-white {
  background-color: white;
}

.btn-orange {
  color: white;
  background-color: $background-orange;
}

.dot {
  color: $background-orange;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container-big {
  width: 90%;
}

.container-small {
  width: 70%;
  margin: auto;
}

body {
  background-color: $background-grey-primary;
}

p {
  margin: 0;
  padding: 0;
}

.line {
  &::after {
    content: " ";
    background-color: $background-orange;
    height: 2px;
    width: 10%;
    display: block;
    margin-top: 1.2rem;
  }
}

.line-center {
  &::after {
    margin: auto;
    content: " ";
    background-color: $background-orange;
    height: 2px;
    width: 6%;
    display: block;
    margin-top: 1.2rem;
  }
}
